@scope (.card) {
  h2 {
    color: black;
    font-size: 30px;
  }
  p {
    color: black;
    font-size: 14px;
  }
}

@scope (.card1) {
  h2 {
    color: white;
  }
  p {
    color: white;
  }
  :scope {
    background: blue;
    border: 2px solid orange;
    &:hover {
      background: red;
    }
  }
  @media (width < 600px) {
    :scope {
      background: orange;
    }
  }
}
